html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.header {
    padding: 30px 15px;
    position: relative;
}

.header .logo {
    background: url(../images/logo.jpg) center center no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.header .logo h1 {
    font-size: 0px;
}

.header nav {
    display: inline-block;
    position: absolute;
    right: 19px;
    margin-top: 30px;
}

.header ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
}

.header ul li a:hover {
    font-weight: bold;
}

.panel {
    background: url(../images/painel.jpg) center center no-repeat;
    height: 600px;
}

.panel h2 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-section {
    padding: 153px;
    text-align: center;
    clear: both;
}

.text-section img {
    width: 170px;
    height: 170px;
    margin-bottom: 70px;
}

.text-section h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.text-section p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}

.text-section.location p {
    font-size: 28px;
}

.tiles div {
    float: left;
}

.tiles .large-tile {
    background: url(../images/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}

.tiles .small-tile.grain {
    background: url(../images/2.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.tiles .small-tile.cup {
    background: url(../images/3.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.tiles .medium-tile {
    background: url(../images/1.jpg) center center no-repeat;
    height: 300px;
    width: 50%;
}

.contact {
    background: url(../images/fundo-contato.jpg) center center no-repeat;
    color: white;
    height: 600px;
    position: relative;
}

.contact h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact address {
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}

.contact .contact-text {
    position: absolute;
    top: 30%;
    left: 50%;
}

.footer {
    background: url(/src/images/fundo-rodape.jpg) center center no-repeat;
    background-size: cover;
    padding: 35px 30px;
}

.footer ul {
    float: right;
}

.footer ul li {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
}

.footer ul li a {
    color: white;
}

.footer ul li a:hover {
    font-weight: bold;
}

.footer .copyright {
    color: white;
}

.footer .social-media {
    float: right;
    clear: both;
    transform: translateY(-23%);
}

.footer .social-media .facebook,
.footer .social-media .instagram {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.footer .footer-content {
    margin-top: 40px;
}